extends layout
block cont 
  link(rel="stylesheet", href="/stylesheets/home.css")  
block content
  h1.text-center.bg-info.p-2.home.m-0.p-0 Home Page
  .container-fluid.p-0 
    .custom-cont
      img(src="/images/pic3.jpg", alt="no img")
     
    
